* {
  font-family: "Abril Fatface", cursive;
  color: #284b63;
}

body {
  margin: 0;
  padding: 2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(250, 252, 245);
  background: linear-gradient(
    90deg,
    rgba(250, 252, 245, 1) 0%,
    rgba(96, 195, 215, 0.7903536414565826) 50%,
    rgba(250, 252, 245, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  font-family: "Fugaz One", cursive;
  color: #153243;
  font-size: 6em;
  text-shadow: 5px 5px #6196bd;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 75px;
  text-align: center;
  background: rgb(250, 252, 245);
  background: linear-gradient(
    90deg,
    rgba(250, 252, 245, 1) 0%,
    rgba(96, 195, 215, 0.7903536414565826) 50%,
    rgba(250, 252, 245, 1) 100%
  );
}

.tab {
  border: #284b63 2px solid;
  padding-top: 12px;
}

.tabList {
  list-style: none;
}

.tabLink {
  text-decoration: none;
  color: #284b63;
}

.form-control {
  border-radius: 20px;
}

img {
  
}

.carouselContainer {
  max-width: 800px;
  margin: auto;
}