* {
  font-family: "Varela Round", sans-serif;
  color: #284b63;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(250, 252, 245);
  background: linear-gradient(
    90deg,
    rgba(250, 252, 245, 1) 0%,
    rgba(96, 195, 215, 0.7903536414565826) 50%,
    rgba(250, 252, 245, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  font-family: "Fugaz One", cursive;
  color: #153243;
  font-size: 4em;
  text-shadow: 5px 5px #6196bd;
  position: fixed;
  top: 0;
}

.navTabs {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 75px;
  text-align: center;
  background: rgb(250, 252, 245);
  background: linear-gradient(
    90deg,
    rgba(250, 252, 245, 1) 0%,
    rgba(96, 195, 215, 0.7903536414565826) 50%,
    rgba(250, 252, 245, 1) 100%
  );
  z-index: 1;
}

.tab {
  border: #284b63 2px solid;
  padding-top: 12px;
}

.tabList {
  list-style: none;
}

.tabLink {
  text-decoration: none;
  color: #284b63;
}

.form-control {
  border-radius: 20px;
}

.userImage {
  padding: 3px;
  width: 300px;
  max-height: 300px;
  border-radius: 300px;
  background-color: white;
}

.carouselContainer {
}

.profileContainer {
}

.layoutContainer {
  margin-top: 100px;
}

.titleContainer {
}

.cardContainer {
  background-color: white;
  border: grey 2px solid;
}

.search {
  border-radius: 20px;
}