body {
  margin: 0;
  padding: 2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2467&q=80"); */
  background: rgb(250,252,245);
background: linear-gradient(90deg, rgba(250,252,245,1) 0%, rgba(96,195,215,0.7903536414565826) 50%, rgba(250,252,245,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.title {
  font-family: 'Fugaz One', cursive;
  color: #153243;
  font-size: 6em;
  text-shadow: 5px 5px #6196BD;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 75px;
  text-align: center;
  background: rgb(250,252,245);
  background: linear-gradient(90deg, rgba(250,252,245,1) 0%, rgba(96,195,215,0.7903536414565826) 50%, rgba(250,252,245,1) 100%);
}

.tab {
  border: #284B63 2px solid;
  padding-top: 15px;
}

.tabLinks, h2 {
  color: #284B63;
  font-family: 'Abril Fatface', cursive;
  text-decoration: none;
}



